
@{
    ViewData["Title"] = "Horarios";
}

<h1>Horarios</h1>

<section>
    <h2>Nuestros horarios de servicio</h2>
    <p>
        Lunes - Viernes
        <ul>
            <li>8:00 AM - 11:00 AM</li>
            <li>1:00 PM - </li>
        </ul>

        Sabados
        <ul>
            <li></li>
        </ul>
    </p>
</section>