<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar la solicitud.</h2>

<p>
    <strong>ID de solicitud:</strong> <code>{{RequestId}}</code>
</p>

<h3>Modo Desarrollo</h3>
<p>
    Cambiar al entorno <strong>Development</strong> mostrará información más detallada sobre el error que ocurrió.
</p>
<p>
    <strong>El entorno Development no debe estar activado en aplicaciones desplegadas.</strong>
    Esto puede mostrar información sensible al usuario final.
    Para depurar localmente, activa el entorno <strong>Development</strong> configurando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Development</strong>
    y reiniciando la aplicación.
</p>
