<h1>Horarios</h1>

<section>
    <h2>Nuestros horarios de servicio</h2>
    <p>Lunes - Viernes</p>
    <ul>
        <li>8:00 AM - 11:00 AM</li>
        <li>2:00 PM - 7:00 PM</li>
    </ul>

    <p>Sábados</p>
    <ul>
        <!-- Agrega horarios para sábados -->
    </ul>
</section>
 
